{% extends "base.html" %} {% block content %}

<main>
  <!-- tp-blog-details-area-start -->
  <div class="tp-blog-area tp-tour-ptb-2 pt-80 pb-100">
    <div class="container">
      <div class="row">
        <div class="col-xxl-12 col-xl-12">
          <div class="postbox-details-main-wrap mb-40 pr-135">
            <div class="postbox-details-info-wrap mb-60">
              <div
                class="tp-blog-meta-wrap d-flex flex-wrap align-items-center mb-15"
              >
                
              </div>
              <h3 class="postbox-title mb-30">
                About Gopaleshwor Tours
              </h3>
              
            </div>
            <div class="postbox-wrapper">
              <div class="postbox-details-text mb-45">
                <div class="postbox-details-thumb mb-45">
                  <img
                    class="w-100"
                    src="https://html.aqlova.com/turie-demo/turie/assets/img/blog/details/thumb.jpg"
                    alt=""
                  />
                </div>
                <h4 class="postbox-details-title mb-10">
                  The 2025 Autumn Foliage Forecast for Japan has just been
                  <br />
                  released! red maple leaves starting 30 Nov in Tokyo!
                </h4>
                <p>
                  Experience Japan’s breathtaking autumn season as vibrant hues
                  of red and gold blanket the country. From late November,
                  Tokyo’s parks and gardens transform into a sea of maple
                  brilliance. Whether strolling through Shinjuku Gyoen or
                  exploring Mount Takao, it’s the perfect time to witness
                  nature’s masterpiece. Plan your journey now and capture the
                  magic of Japan’s fall foliage.
                </p>
              </div>
             
             
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  <!-- tp-tour-details-area-end -->

  <!-- tp-blog-area-start -->
  <div class="tp-blog-area pb-100 p-relative">
    
    <img
      class="tp-blog-two-shape tptranslateY2"
      src="assets/img/blog/two/shape.png"
      alt=""
    />
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="tp-blog-section-title mb-50">
            <h2 class="tp-section-title fs-32">Latest Travel Pckages</h2>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6">
          <div
            class="tp-blog-two-item p-relative mb-40 wow fadeInUp"
            data-wow-duration=".9s"
            data-wow-delay=".3s"
          >
            <div class="tp-blog-two-thumb p-relative">
              <a href="blog-details.html">
                <img src="assets/img/blog/two/thumb.jpg" alt="" />
              </a>
              <span class="tp-blog-category">Adventure</span>
            </div>
            <div class="tp-blog-content">
              <div class="tp-blog-meta-wrap mb-10">
                <div class="tp-blog-meta d-flex flex-wrap align-items-center">
                  <span>Dec 12,2025</span>
                  <span>Admin</span>
                </div>
              </div>
              <h3 class="tp-blog-title fw-600 mb-10">
                <a href="blog-details.html"
                  >Discover ancient temples and charming modern Japanese
                  cities</a
                >
              </h3>
              <a href="blog-details.html" class="tp-btn-solid"
                >Learn more
                <svg
                  width="11"
                  height="10"
                  viewBox="0 0 11 10"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M9.07141 4.67188L0.750023 4.67187"
                    stroke="currentColor"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                  <path
                    d="M5.68092 8.59474C5.68092 8.59474 9.37927 5.70593 9.37927 4.67232C9.37928 3.63872 5.68086 0.75 5.68086 0.75"
                    stroke="currentColor"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6">
          <div
            class="tp-blog-two-item p-relative mb-40 wow fadeInUp"
            data-wow-duration=".9s"
            data-wow-delay=".5s"
          >
            <div class="tp-blog-two-thumb p-relative">
              <a href="blog-details.html">
                <img
                  src="https://html.aqlova.com/turie-demo/turie/assets/img/blog/two/thumb-2.jpg"
                  alt=""
                />
              </a>
              <span class="tp-blog-category">Adventure</span>
            </div>
            <div class="tp-blog-content">
              <div class="tp-blog-meta-wrap mb-10">
                <div class="tp-blog-meta d-flex flex-wrap align-items-center">
                  <span>Dec 12,2025</span>
                  <span>Admin</span>
                </div>
              </div>
              <h3 class="tp-blog-title fw-600 mb-10">
                <a href="blog-details.html"
                  >Explore ancient pyramids and thrilling desert experiences</a
                >
              </h3>
              <a href="blog-details.html" class="tp-btn-solid"
                >Learn more
                <svg
                  width="11"
                  height="10"
                  viewBox="0 0 11 10"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M9.07141 4.67188L0.750023 4.67187"
                    stroke="currentColor"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                  <path
                    d="M5.68092 8.59474C5.68092 8.59474 9.37927 5.70593 9.37927 4.67232C9.37928 3.63872 5.68086 0.75 5.68086 0.75"
                    stroke="currentColor"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6">
          <div
            class="tp-blog-two-item p-relative mb-40 wow fadeInUp"
            data-wow-duration=".9s"
            data-wow-delay=".7s"
          >
            <div class="tp-blog-two-thumb p-relative">
              <a href="blog-details.html">
                <img src="assets/img/blog/two/thumb-3.jpg" alt="" />
              </a>
              <span class="tp-blog-category">Adventure</span>
            </div>
            <div class="tp-blog-content">
              <div class="tp-blog-meta-wrap mb-10">
                <div class="tp-blog-meta d-flex flex-wrap align-items-center">
                  <span>Dec 12,2025</span>
                  <span>Admin</span>
                </div>
              </div>
              <h3 class="tp-blog-title fw-600 mb-10">
                <a href="blog-details.html"
                  >Enjoy Parisian culture wine regions and art.</a
                >
              </h3>
              <a href="blog-details.html" class="tp-btn-solid"
                >Learn more
                <svg
                  width="11"
                  height="10"
                  viewBox="0 0 11 10"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M9.07141 4.67188L0.750023 4.67187"
                    stroke="currentColor"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                  <path
                    d="M5.68092 8.59474C5.68092 8.59474 9.37927 5.70593 9.37927 4.67232C9.37928 3.63872 5.68086 0.75 5.68086 0.75"
                    stroke="currentColor"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- tp-blog-area-end -->
</main>
{% endblock content %}
