{% extends "base.html" %} {% load static %} {% block content %}

<main>
  <!-- breadcrumb-area-start -->
  <div
    class="tp-breadcrumb-area tp-breadcrumb-ptb tp-breadcrumb-overly bg-position"
    data-background="{{ pagebanner.image.url }}"
    style="
      background-image: url({{ pagebanner.image.url }});
    "
  >
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="tp-breadcrumb-wrap text-center">
            <h2 class="tp-breadcrumb-title fs-112 text-center mb-0">
               Blog Detail
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- breadcrumb-area-end -->
  <!-- tp-blog-details-area-start -->
  <div class="tp-blog-area tp-tour-ptb-2 pt-80 pb-100">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-12 col-lg-12">
          <div class="postbox-details-main mb-40">
            <div class="postbox-details-info-wrap mb-60">
              <div
                class="tp-blog-meta-wrap d-flex flex-wrap align-items-center mb-15"
              >
                <span class="tp-blog-category"
                  >{{ blog.readtime }} min read</span
                >
                <div class="tp-blog-meta">
                  <span>{{ blog.created_at|date:"M d, Y" }}</span>
                </div>
              </div>
              <h3 class="postbox-title mb-30">{{ blog.title }}</h3>
            </div>
            <div class="postbox-wrapper">
              <div class="postbox-details-text mb-45">
                <div class="postbox-details-thumb mb-45">
                  <img class="w-100" src="{{ blog.image.url}}" alt="" />
                </div>
                <h4 class="postbox-details-title mb-10">{{ blog.title }}</h4>
                <p>{{ blog.description|safe }}</p>
              </div>

              <div
                class="postbox-details-tag-wrap d-flex align-items-center justify-content-between flex-wrap gap-3"
              ></div>

              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- tp-tour-details-area-end -->

  <!-- tp-blog-area-start -->
  <div class="tp-blog-area pb-100 p-relative">
    <img
      class="tp-blog-two-shape tptranslateY2"
      src="{% static 'assets/img/blog/two/shape.png' %}"
      alt=""
    />
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="tp-blog-section-title mb-50">
            <h2 class="tp-section-title fs-32">Related Travel Pckages</h2>
          </div>
        </div>
        {% for blog in related_blogs %}
        <div class="col-xl-4 col-lg-6 col-md-6">
          <div
            class="tp-blog-two-item p-relative mb-40 wow fadeInUp"
            data-wow-duration=".9s"
            data-wow-delay=".3s"
          >
            <div class="tp-blog-two-thumb p-relative">
              <a href="{% url 'blog_detail' blog.slug %}">
                <img
                  src="{{ blog.image.url }}"
                  alt=""
                />
              </a>
              <span class="tp-blog-category">{{ blog.readtime }} min read</span>
            </div>
            <div class="tp-blog-content">
              <div class="tp-blog-meta-wrap mb-10">
                <div class="tp-blog-meta d-flex flex-wrap align-items-center">
                  <span>{{ blog.created_at|date:"M d, Y" }}</span>
                  
                </div>
              </div>
              <h4 class="tp-blog-title fw-600 mb-10">
                <a href="{% url 'blog_detail' blog.slug %}"
                  >{{ blog.title }}</a
                >
              </h4>
              <a href="{% url 'blog_detail' blog.slug %}" class="tp-btn-solid"
                >Learn more
                <svg
                  width="11"
                  height="10"
                  viewBox="0 0 11 10"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M9.07141 4.67188L0.750023 4.67187"
                    stroke="currentColor"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                  <path
                    d="M5.68092 8.59474C5.68092 8.59474 9.37927 5.70593 9.37927 4.67232C9.37928 3.63872 5.68086 0.75 5.68086 0.75"
                    stroke="currentColor"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </a>
            </div>
          </div>
        </div>
       {% endfor %}
      </div>
    </div>
  </div>
  <!-- tp-blog-area-end -->
</main>
{% endblock content %}
