{% extends "base.html" %} {% load static %} {% block content %}

<main>
  <!-- breadcrumb-area-start -->
  <div
    class="tp-breadcrumb-area tp-breadcrumb-ptb tp-breadcrumb-overly bg-position"
    data-background="{{ pagebanner.image.url }}"
    style="
      background-image: url({{ pagebanner.image.url }});
    "
  >
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="tp-breadcrumb-wrap text-center">
            <h2 class="tp-breadcrumb-title fs-112 text-center mb-0">Blogs</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- breadcrumb-area-end -->

  <!-- tp-blog-area-start -->
  <div class="tp-blog-area tp-tour-ptb-2 pt-140 pb-100">
    <div class="container">
      <div class="row">
        <div class="col-xxl-12 col-xl-10 col-lg-10 m-auto">
          <div class="tp-blog-list-wrap mb-40">
            <div class="tp-about-section-title p-relative pb-30">
              <h2 class="tp-section-title fs-32 fw-600">Travel articles</h2>
              <p>Our expert travel guides bring every destination.</p>
            </div>
            {% for blog in blogs %}
            <div class="tp-blog-item tp-blog-col-2 tp-blog-4-item mb-50">
              <div class="tp-blog-thumb fix">
                <a
                  href="{% url 'blog_detail' blog.slug %}"
                  class="d-inline-block"
                >
                  <img src="{{ blog.image.url }}" alt="{{ blog.title }}" />
                </a>
              </div>
              <div class="tp-blog-content">
                <div
                  class="tp-blog-meta-wrap d-flex flex-wrap align-items-center mb-15"
                >
                  <span class="tp-blog-category"
                    >{{ blog.readtime}} min read</span
                  >
                  <div class="tp-blog-meta">
                    <span>{{ blog.created_at|date:"M d, Y" }}</span>
                  </div>
                </div>
                <h3 class="tp-blog-title fw-600 mb-5">
                  <a href="{% url 'blog_detail' blog.slug %}"
                    >{{ blog.title }}</a
                  >
                </h3>
                <p>{{ blog.description|safe | truncatechars:150 }}</p>
                <a href="{% url 'blog_detail' blog.slug %}" class="tp-btn-solid"
                  >Learn more
                  <svg
                    width="11"
                    height="10"
                    viewBox="0 0 11 10"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M9.07141 4.67188L0.750023 4.67187"
                      stroke="currentColor"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></path>
                    <path
                      d="M5.68092 8.59474C5.68092 8.59474 9.37927 5.70593 9.37927 4.67232C9.37928 3.63872 5.68086 0.75 5.68086 0.75"
                      stroke="currentColor"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></path>
                  </svg>
                </a>
              </div>
            </div>
            {% endfor %}

            <div class="tp-pagination text-center mt-60">
              <nav>
                <ul>
                  <!-- Previous -->
                  {% if blogs.has_previous %}
                  <li>
                    <a
                      href="?page={{ blogs.previous_page_number }}"
                      class="tp-pagination-prev prev page-numbers"
                    >
                      <svg
                        width="7"
                        height="12"
                        viewBox="0 0 7 12"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M5.75 10.75L0.75 5.75L5.75 0.75"
                          stroke="currentColor"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </a>
                  </li>
                  {% endif %}

                  <!-- Page Numbers -->
                  {% for num in blogs.paginator.page_range %} {% if blogs.number
                  == num %}
                  <li><span class="current">{{ num }}</span></li>
                  {% else %}
                  <li><a href="?page={{ num }}">{{ num }}</a></li>
                  {% endif %} {% endfor %}

                  <!-- Next -->
                  {% if blogs.has_next %}
                  <li>
                    <a
                      href="?page={{ blogs.next_page_number }}"
                      class="next page-numbers"
                    >
                      <svg
                        width="7"
                        height="12"
                        viewBox="0 0 7 12"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M0.75 10.75L5.75 5.75L0.75 0.75"
                          stroke="currentColor"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </a>
                  </li>
                  {% endif %}
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- tp-tour-area-end -->
</main>
{% endblock content %}
