{% extends "base.html" %} {% block content %}

<main>
  <!-- tp-breadcrumb-area-start -->
  <div class="tp-breadcrumb-area">
    <div class="container container-1350">
      <div class="row">
        <div class="col-12">
          <nav class="breadcrumbs">
            <ul>
              <span><a href="/">Home</a></span>
              <i class="fa-solid fa-chevron-right"></i>
              &nbsp;
              <span><a href="{% url 'daytour' %}">Day Tour</a></span>
              <i class="fa-solid fa-chevron-right"></i>
              &nbsp;
              <span>{{ daytour.title }}</span>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- tp-breadcrumb-area-end -->

  <!-- tp-tour-details-area-start -->
  <div class="tp-tour-details-area pt-10">
    <div class="container container-1350">
      <div class="row">
        <div class="col-12">
          <div class="tp-tour-details">
            <h2 class="tp-breadcrumb-title text-black mb-15">
              {{ daytour.title }}
            </h2>
            <div class="tp-tour-details-meta mb-20">
              <span>
                <a href="#">Max Altitude:{{ daytour.max_altitude }}m</a>
               
              </span>
              <span><a href="#">Group Size:{{ daytour.group_size}} People</a></span>
              <span>Duration: {{ daytour.duration }} Days</span>
            </div>
            <div
              class="tp-tour-details-price-wrap mb-20 d-flex align-items-center flex-wrap gap-2 justify-content-between"
            >
              <div class="d-flex align-items-center flex-wrap mb-10">
                <div class="tp-tour-details-price d-flex align-items-end mr-25">
                  <div class="tp-tour-top-price mr-5">
                    <span class="tp-tour-prefix fw-600">From:</span>
                    <span class="tp-tour-old-price"
                      >${{ daytour.regular_price }}</span
                    >
                  </div>
                  <div class="tp-tour-bottom-price">
                    <span class="tp-tour-new-price fw-700"
                      >${{ daytour.sell_price }}</span
                    >
                    <span class="tp-tour-suffix">per person</span>
                  </div>
                </div>
                <div class="tp-tour-info">
                  <span>
                    <svg
                      width="15"
                      height="16"
                      viewBox="0 0 15 16"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M9.49961 7.04985C9.49961 8.40295 8.40271 9.49985 7.04961 9.49985C5.69651 9.49985 4.59961 8.40295 4.59961 7.04985C4.59961 5.69675 5.69651 4.59985 7.04961 4.59985C8.40271 4.59985 9.49961 5.69675 9.49961 7.04985Z"
                        stroke="currentColor"
                        stroke-width="1.5"
                      ></path>
                      <path
                        d="M7.04951 0.75C10.4587 0.75 13.349 3.57287 13.349 6.99757C13.349 10.4768 10.4116 12.9183 7.69836 14.5786C7.50063 14.6903 7.27699 14.7489 7.04951 14.7489C6.82203 14.7489 6.5984 14.6903 6.40066 14.5786C3.6925 12.9022 0.75 10.4888 0.75 6.99757C0.75 3.57287 3.64038 0.75 7.04951 0.75Z"
                        stroke="currentColor"
                        stroke-width="1.5"
                      ></path>
                    </svg>
                    {{ daytour.location }}
                  </span>
                </div>
              </div>
              <div
                class="tp-tour-details-wishlist d-flex align-items-center mb-10"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tp-tour-details-2-gallery tp-tour-details-5-gallery mb-80">
      <div class="swiper tp-instagram-slide">
        <div class="swiper-wrapper">
          {% for img in gallery_images %}
          <div class="swiper-slide">
            <div class="tp-instagram-thumb p-relative">
              <a href="{{ img.image.url }}">
                <img
                  class="w-100"
                  src="{{ img.image_optimized.url }}"
                  alt="gallery"
                />
              </a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="container container-1350">
      <div class="tp-tour-details-content-wrap">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <div class="tp-tour-details-content tp-tour-details-5-content">
              <h3 class="tp-tour-details-title fw-600 mb-15">
                About This Tour
              </h3>
              <p class="mb-25">{{ daytour.overview | safe }}</p>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  <!-- tp-tour-details-area-end -->

  <!-- tp-tour-area-start -->
  <div class="tp-tour-area tp-tour-ptb-2 pt-105 pb-90">
    <div class="container container-1350">
      <div class="row">
        <div class="col-12">
          <h3 class="tp-tour-details-title fw-600 mb-25">
            Related Day Tour Pckages
          </h3>
        </div>
        {% for tour in related_daytours %}
        <div class="col-xl-4 col-lg-6 col-md-6">
          <div class="tp-tour-item mb-50">
            <div class="tp-tour-thumb p-relative fix">
              <a href="{% url 'daytour_detail' tour.slug %}" class="image">
                <img src="{{ tour.image.url }}" alt="{{ tour.title }}" />
              </a>
              {% if daytour.is_featured %}
              <div class="tp-tour-badge">
                <span class="discount tp-ff-inter fw-700">Featured </span>
              </div>
              {% endif %}
              
            </div>
            <div class="tp-tour-content">
              
              <h3 class="tp-tour-title fw-500 mb-10">
                <a href="{% url 'daytour_detail' tour.slug %}"
                  >{{ tour.title }}</a
                >
              </h3>
              <div class="tp-tour-info">
                <span>
                  <svg
                    width="15"
                    height="16"
                    viewBox="0 0 15 16"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M9.49961 7.04985C9.49961 8.40295 8.40271 9.49985 7.04961 9.49985C5.69651 9.49985 4.59961 8.40295 4.59961 7.04985C4.59961 5.69675 5.69651 4.59985 7.04961 4.59985C8.40271 4.59985 9.49961 5.69675 9.49961 7.04985Z"
                      stroke="currentColor"
                      stroke-width="1.5"
                    ></path>
                    <path
                      d="M7.04951 0.75C10.4587 0.75 13.349 3.57287 13.349 6.99757C13.349 10.4768 10.4116 12.9183 7.69836 14.5786C7.50063 14.6903 7.27699 14.7489 7.04951 14.7489C6.82203 14.7489 6.5984 14.6903 6.40066 14.5786C3.6925 12.9022 0.75 10.4888 0.75 6.99757C0.75 3.57287 3.64038 0.75 7.04951 0.75Z"
                      stroke="currentColor"
                      stroke-width="1.5"
                    ></path>
                  </svg>
                  {{ tour.location }}
                </span>
                <span>
                  <svg
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M7.74946 14.7489C11.6151 14.7489 14.7489 11.6151 14.7489 7.74946C14.7489 3.88376 11.6151 0.75 7.74946 0.75C3.88376 0.75 0.75 3.88376 0.75 7.74946C0.75 11.6151 3.88376 14.7489 7.74946 14.7489Z"
                      stroke="currentColor"
                      stroke-width="1.5"
                    ></path>
                    <path
                      d="M5.99951 5.99971L8.44944 8.44943M10.5495 4.94971L7.04951 8.44971"
                      stroke="currentColor"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></path>
                  </svg>
                  {{ tour.duration }} days
                </span>
                <span>
                  <svg
                    width="18"
                    height="16"
                    viewBox="0 0 18 16"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M9.63454 3.86111C9.63454 5.57933 8.18801 6.97223 6.40369 6.97223C4.61935 6.97223 3.17285 5.57933 3.17285 3.86111C3.17285 2.14289 4.61935 0.75 6.40369 0.75C8.18801 0.75 9.63454 2.14289 9.63454 3.86111Z"
                      stroke="currentColor"
                      stroke-width="1.5"
                    ></path>
                    <path
                      d="M11.2495 6.97223C13.0338 6.97223 14.4804 5.57933 14.4804 3.86111C14.4804 2.14289 13.0338 0.75 11.2495 0.75"
                      stroke="currentColor"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></path>
                    <path
                      d="M8.01873 9.30505H4.78819C2.55796 9.30505 0.75 11.0461 0.75 13.1937C0.75 14.0528 1.47318 14.7492 2.36527 14.7492H10.4416C11.3338 14.7492 12.0569 14.0528 12.0569 13.1937C12.0569 11.0461 10.2489 9.30505 8.01873 9.30505Z"
                      stroke="currentColor"
                      stroke-width="1.5"
                      stroke-linejoin="round"
                    ></path>
                    <path
                      d="M12.8643 9.30505C15.0947 9.30505 16.9028 11.0462 16.9028 13.1939C16.9028 14.0531 16.1796 14.7495 15.2874 14.7495H14.0758"
                      stroke="currentColor"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></path>
                  </svg>
                  <span>{{ tour.group_size }}</span> person
                </span>
              </div>
              <div
                class="tp-tour-footer d-flex justify-content-between gap-2 align-items-center"
              >
                <div class="tp-tour-price">
                  <div class="tp-tour-top-price">
                    <span class="tp-tour-prefix">From:</span>
                    <span class="tp-tour-old-price">${{ tour.regular_price }}</span>
                  </div>
                  <div class="tp-tour-bottom-price">
                    <span class="tp-tour-new-price fw-700">${{ tour.sell_price }}</span>
                    <span class="tp-tour-suffix">/person</span>
                  </div>
                </div>
                <div class="tp-tour-btn">
                  <a
                    href="{% url 'daytour_detail' tour.slug %}"
                    class="tp-btn-sm fw-500 tp-ff-inter"
                    >View Detail</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <!-- tp-tour-area-end -->
</main>
{% endblock content %}
