{% extends "base.html" %} {% block content %}
<main>
  <!-- breadcrumb-area-start -->
  <div
    class="tp-breadcrumb-area tp-breadcrumb-ptb tp-breadcrumb-overly bg-position"
    data-background="{{ pagebanner.image.url }}"
    style="
      background-image: url({{ pagebanner.image.url }});
    "
  >
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="tp-breadcrumb-wrap text-center">
            <h2 class="tp-breadcrumb-title fs-112 text-center mb-0">
              Travel Style
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- breadcrumb-area-end -->

  <!-- tp-destination-area-start -->
  <div class="tp-destination-area">
    <div class="container container-1350">
      <div class="row gx-25">
        <div class="col-lg-12">
          <div class="tp-destinatin-6-title-wrap text-center mb-50">
            <span
              class="tp-section-two-subtitle d-inline-block mt-50 mb-10 wow fadeInUp"
              data-wow-duration=".9s"
              data-wow-delay=".3s"
              >Vacation Packages</span
            >
            <h2
              class="tp-section-title fw-600 wow fadeInUp"
              data-wow-duration=".9s"
              data-wow-delay=".5s"
            >
              Trending Travel Styles
            </h2>
          </div>
        </div>
        {% for style in styles %}
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
          <div class="tp-tour-dayfilter-item tp-destination-item fix mb-25">
            <div
              class="tp-destination-thumb p-relative tp-tour-dayfilter-thumb fix"
            >
              <img
                src="{{ style.image.url }}"
                alt="destination"
                loading="lazy"
                height="200"
              />
              <div class="tp-destination-content">
                <a
                  href="{% url 'style-detail' slug=style.slug %}"
                  class="tp-destination-title common-underline"
                  >{{ style.title }}</a
                >
                <a
                  href="{% url 'style-detail' slug=style.slug %}"
                  class="tp-destination-btn"
                >
                  <svg
                    width="14"
                    height="12"
                    viewBox="0 0 14 12"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M12 5.75H0.750049"
                      stroke="currentColor"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></path>
                    <path
                      d="M7.41414 10.75C7.41414 10.75 12.4141 7.06751 12.4141 5.74994C12.4141 4.43236 7.41406 0.75 7.41406 0.75"
                      stroke="currentColor"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></path>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <!-- tp-destination-area-end -->
</main>
{% endblock content %}
