{% extends "base.html" %} {% block content %}

<main>
  <!-- tp-blog-details-area-start -->
  <div class="tp-blog-area tp-tour-ptb-2 pt-80 pb-100">
    <div class="container">
      <div class="row">
        <div class="col-xxl-12 col-xl-12">
          <div class="postbox-details-main-wrap mb-40 pr-135">
            <div class="postbox-details-info-wrap mb-60">
              <div
                class="tp-blog-meta-wrap d-flex flex-wrap align-items-center mb-15"
              >
                
              </div>
              <h3 class="postbox-title mb-30">
                Why Choose Us? Your Ultimate Travel Companion for Unforgettable
              </h3>
              
            </div>
            <div class="postbox-wrapper">
              <div class="postbox-details-text mb-45">
                <div class="postbox-details-thumb mb-45">
                  <img
                    class="w-100"
                    src="https://html.aqlova.com/turie-demo/turie/assets/img/blog/details/thumb.jpg"
                    alt=""
                  />
                </div>
                <h4 class="postbox-details-title mb-10">
                  The 2025 Autumn Foliage Forecast for Japan has just been
                  <br />
                  released! red maple leaves starting 30 Nov in Tokyo!
                </h4>
                <p>
                  Experience Japan’s breathtaking autumn season as vibrant hues
                  of red and gold blanket the country. From late November,
                  Tokyo’s parks and gardens transform into a sea of maple
                  brilliance. Whether strolling through Shinjuku Gyoen or
                  exploring Mount Takao, it’s the perfect time to witness
                  nature’s masterpiece. Plan your journey now and capture the
                  magic of Japan’s fall foliage.
                </p>
              </div>
             
             
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  <!-- tp-tour-details-area-end -->

</main>
{% endblock content %}
